@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NeedMilk</h1>
    <p>
        Learn about NeedMilk  Learn about NeedMilk  Learn about NeedMilk
        Learn about NeedMilk Learn about NeedMilk Learn about NeedMilk
        Learn about NeedMilk  Learn about NeedMilk Learn about NeedMilk</a>.
    </p>
</div>
