@{
    ViewData["Title"] = "Home Page";
}


    <header class="header">
        <div class="container header__container">
            <div class="logo-panel">
                <h1 class="header__logo">

                    <a href="/">
                        <img src="https://cdn.pixabay.com/photo/2015/11/16/14/43/cat-1045782_960_720.jpg">
                    </a>
                </h1>
                </div>
            </div>
        </header>
                <div class="text-center">
                    <h1 class="display-4">Welcome to NeedMilk</h1>
                    <p>
                        First, let us tell you a little bit about ourselves.We believe that the Android Market does not offer enough customer-friendly designed, useful applications.Need Milk is the first in a long line of phone applications we plan to develop – applications that will be fast, intuitive, and fun to use.
                        What's Need Milk? Need Milk is a tool for your phone that will help you keep track of your shopping needs, your pantry’s inventory, and manage your to-do list items. Never come home from shopping just to realize that you forgot to buy lemon juice, eggs and baking soda. 
                        Never buy yet another container of cinnamon when you already have three in your spice rack! Have something to remember? List it in Need Milk! What's Next? We'll keep looking for new features we hope make grocery shopping easier. Recently, we went shopping with Need Milk users to see how they use the app, and have sent surveys to thousands of our users. We'll use what we learn to make Need Milk an even better shopping list app!
                        </p>
                </div>
